<h1>Редактирование страницы</h1>

<div>
  <%= link_to "Показать", [:admin, @quotes_page] %> |
  <%= link_to "К списку", admin_quotes_pages_path %>
</div>

<%= render "form", quotes_page: @quotes_page %>
