
<div style='text-align: center;'>
  <script async src="https://telegram.org/js/telegram-widget.js?19" data-telegram-login="bibleox_bot" data-size="large" data-onauth="onTelegramAuth(user)"></script>
  <%= javascript_include_tag "telegram", media: "all" %>

  <% if @is_site_auth_enabled %>
    <%= form_tag handle_login_site_path(locale: ::I18n.locale) do %>
      <div class='hint'>
        <label for='username'>Username</label>
      </div>
      <div>
        <input class='pretty' type='text' name='username' id='username' autocomplete='username' required>
      </div>
      <div>
      <div class='hint'>
        <label for='password'>Password</label>
      </div>
        <input class='pretty' type='password' name='password' id='password' autocomplete='password' required>
      </div>
      <div>
        <br>
        <input class='pretty btn' type='submit' name='commit' value='Login' data-disable-with='Login'>
      </div>
    <% end %>
  <% end %>

</div>
