<h1>Редактирование темы для цитат</h1>

<%= render "form", quotes_subject: @quotes_subject %>

<br>

<div>
  <%= link_to "Показать", admin_quotes_subject_path(@quotes_subject, locale: 'ru') %> |
  <%= link_to "К списку", admin_quotes_subjects_path %>
</div>
