<nav id="article-menu">
  <div class='menu-name'><%= I18n.t('page.menu_name') %></div>
  <% @page.body_menu.each do |(el_name, el_anchor, el_text)| %>
    <div class="nav-<%= el_name %>"><a href="#<%= el_anchor %>"><%= el_text %></a></div>
  <% end %>
</nav>
