<%= image_tag('bogoroditsa.jpg', id: 'Bogoroditsa') %>
<p>Сайт создан в 2022 году в городе Севастополь по благословению православного священнослужителя.
<p>Контакт с разработчиком: <a href="https://t.me/rvlasov">https://t.me/rvlasov</a>
