test:
  redis:
    url:

development:
  redis:
    url: "redis://:psw@bibredis:6379/0"
  telegram_bot:
    token: 'test'
    chat_id: '-123'
  index_now:
    key: 'sample_key'

production:
  redis:
    url:
  telegram_bot:
    token: 'test'
    chat_id: '-123'
  index_now:
    key: 'sample_key'
