<div id='chapter-content'>
  <%= render(partial: 'verses/chapters') %>
</div>

<% content_for(:end_of_page) do %>
  <div id='select-bar' class='hidden'>
    <span id='select-mode-btn'><div>📌<br>Режим<br>выделения</div></span>
    <span id='copy-text-address-btn'>📋<br>Копировать<br>"текст" (ссылку)</span>
    <span id='copy-text-btn'>📋<br>Копировать<br>"текст"</span>
    <span id='copy-address-btn'>📋<br>Копировать<br>(ссылку)</span>
    <span id='copy-link-btn'>🔗<br>Копировать<br>гиперссылку</span>
  </div>

  <%= javascript_include_tag "index", media: "all" %>
<% end %>
