/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ШАПКО-ССЫЛКИ: Меню хэдера: Библия, Цитаты, Поиск */

header nav {
  padding: 10px 0 0 0;
}
header nav a {
  padding-right: 10px;
}

.local {
  text-decoration: underline;
  text-decoration-style: dashed;
}

/* КНИГИ: Меню книг: Бытие, Исход ... */

#menu-books.hidden {
  display: none;
}

#menu-books {
  max-width: calc(100% - 20px);
  padding: 15px;
  margin: 0;
  background-color: #d4e2ce;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

#menu-books::after {
  content: '';
  position: absolute;
  left: 20px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #d4e2ce;
}

.night-mode #menu-books {
  background-color:#94c181;
}

.night-mode #menu-books::after {
  border-bottom: 10px solid #94c181;
}

#menu-books.bible-clicked {
  top: 0;
}

#menu-books.book-clicked {
  top: 84px;
}

#menu-books.book-clicked::after {
  left: 50%;
  margin-left: -10px;
}


#menu-books a {
  display: inline-block;
  padding: 5px 5px 5px 0;
}

#menu-books a.kanon {
  color: rgb(0 97 59);
}
#menu-books a.kanon:hover {
  color: rgb(29, 102, 73);
}
#menu-books a.non-kanon {
  color: #4a4139;
}

#menu-books a.non-kanon:hover {
  color: #6d6156;
}

/* .night-mode #menu-books a.non-kanon {
  color:#888;
}

.night-mode #menu-books a.non-kanon:hover {
  color:#999;
} */


/* BOOK NAME */
.content .title {
  margin: 0;
  font-size: 32px;
}

.content .title a {
  text-decoration: none;
}

/* CHAPTERS */

/* в блоке глав все надписи по центру  */
#chapter-content .hint, nav#menu-chapters {
  text-align: center;
}

nav#menu-chapters a {
  display: inline-block;
  min-width: 35px;
  padding: 2px 5px;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  /* font-weight: bold; */
}

/* Альтернативный вариант с рамочкой, тоже красиво, смложно остановиться на одном варианте */
/* nav#menu-chapters a.selected {
  border: 1px solid rgba(205,151,101, 1);
} */
nav#menu-chapters a.selected {
  border: 1px solid #8c6964;
  background-color: #8c6964;
  color: #fdfcf1;
}

.night-mode nav#menu-chapters a.selected {
  border: 1px solid rgba(205,151,101, 1);
  background-color: rgba(205,151,101, 1);
  /* border: 1px solid rgba(97,175,239, 1);
  background-color: rgba(97,175,239, 1); */
  color: #282c34;
}

/* СТИХИ */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td {
  line-height: 1.6em;
}
td.verse-line {
  min-width: 25px;
  padding: 4px 8px 0 0;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  vertical-align: top;
  text-align: right;
  color: #616562;
  font-size: 13px;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

td.zero-verse {
  text-align: center;
  color: #df4a4a;
  padding-bottom: 10px;
}

td.verse-text {
  display: table-cell;
  border-left: 2px solid transparent;
  padding-left: 7px;
}

td.highlighted {
  background: #cd97652e;
  border-left: 2px solid #cd9765;
}

tr:hover td.verse-line {
  position: relative;
  /* color: #a0ae62; */
  color: transparent;

}

tr:hover td.verse-line:before {
    content: url('data:image/svg+xml;utf8,<svg fill="%23a0ae62" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/><path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/></svg>');
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    padding: 5px 8px 0 0;
    top: 0;
    right: 0;
}

.night-mode td.highlighted {
  color: #d4dded;
}

.night-mode tr:hover td.verse-line {
  /* color: #828e88; */
}

#Bogoroditsa {
  width: calc(100% + 20px);
  margin: -30px -10px 10px -10px;
}

@media (min-width: 700px){
  #Bogoroditsa {
    width: 100%;
    margin: -30px 0 10px 0;
  }
}

footer dd.tip {
  margin: 0 0 20px 0;
  font-size: 0.7em;
}

.key {
  background: linear-gradient(-26.5deg,#928b76,#cbc6b5);
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 0 #696659, inset 0 0 1px 1px #ceccb5, 0 2px 2px 0 rgba(67, 65, 59, 0.3);
  display: inline-block;
  margin: 0 2px;
  padding: 0px 3px;
  color: #ffffff;
  border: 0;
  font-size: 0.8em;
}

.night-mode .key {
  background: linear-gradient(-26.5deg,#566072,#31435b);
  box-shadow: inset 0 -2px 0 0 #283c55, inset 0 0 1px 1px #51687d, 0 2px 2px 0 rgba(3, 6, 9, 0.3);
  color: #dae6ffaa;
}
