/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* ШАПКО-ССЫЛКИ: Меню хэдера: Библия, Цитаты, Поиск */

header nav {
  display: flex;
  padding: 10px 0 0 0;
}
header nav > a {
  padding-right: 10px;
}
header nav > a#settings-btn {
  margin-left: auto;
  padding-right: 0;
}

.local {
  text-decoration: underline;
  text-decoration-style: dashed;
}

/* МЕНЮ НАСТРОЕК */

#settings-area {
  z-index: 1;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f6f4e4;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 1px #deddd1;
}
.night-mode #settings-area {
  background-color: #2f3541;
  box-shadow: none;
}

#settings-area > el {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 8px 12px;
}

#settings-area label {
  padding: 0 12px 0 0;
}

#settings-area .switcher {
  display: inline-block;
  margin-left: auto;
  padding: 0 0 0 12px;
}

/* КНИГИ: Меню книг: Бытие, Исход ... */

.menu-books {
  width: calc(100% - 20px);
  padding: 15px;
  margin: 0;
  background-color: #d0d7be;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}

.menu-books::after {
  content: '';
  position: absolute;
  left: 20px;
  top: -19px;
  border: 10px solid transparent;
  border-bottom: 10px solid #d0d7be;
}

.night-mode .menu-books {
  background-color:#c0cda1;
}

.night-mode .menu-books::after {
  border-bottom: 10px solid #c0cda1;
}

.menu-books.bible-clicked {
  top: 6px;
}

.menu-books #filter-books,
.menu-books #filter-author-books {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 1.2em;
  background-color: #e0e6d5;
  border: 2px solid #b0be8f;
  color: #565656;
  border-radius: 4px;
  outline: none;
  padding: 5px 8px;
  width: 100%;
}

.menu-books #filter-books:focus,
.menu-books #filter-author-books:focus {
  background-color: #f1f4ed;
  color: black;
}

.menu-books form {
  display: block;
  position: relative;
}

.menu-books form a {
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
  color: #565656;
}

.menu-books.dark a {
  opacity: 0.3;
}

.menu-books .h-light {
  opacity: 1 !important;
}

.menu-books.book-clicked {
  top: 100px;
}

.menu-books.book-clicked::after {
  left: 50%;
  margin-left: -10px;
}

.menu-books a {
  display: inline-block;
  padding: 5px 5px 5px 0;
}

.menu-books a.kanon {
  color: #00613b;
}
.menu-books a.kanon:hover {
  color: #277757;
}
.menu-books a.non-kanon {
  color: #4a4139;
}

.menu-books a.non-kanon:hover {
  color: #6d6156;
}

/* .night-mode .menu-books a.non-kanon {
  color:#888;
}

.night-mode .menu-books a.non-kanon:hover {
  color:#999;
} */


/* BOOK NAME */
.content .title {
  margin: 0;
  font-size: 32px;
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
}

.breadcrumbs-wrap { background-color: #f6f4e4; }
.night-mode .breadcrumbs-wrap { background-color: #2f3541; }

.breadcrumbs-wrap .content {
  padding: 0px 10px 13px 10px;
}
.breadcrumbs {
  font-size: 11px;
  position: relative;
  margin: 0;
}

.content .title a {
  text-decoration: none;
}

.content .error {
  text-align: center;
  margin: 20px 0;
  color: rgb(201, 41, 41);
}
/* CHAPTERS */

/* в блоке глав все надписи по центру  */
#chapter-content .hint, nav#menu-chapters {
  text-align: center;
}

nav#menu-chapters a {
  display: inline-block;
  min-width: 35px;
  padding: 2px 5px;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  /* font-weight: bold; */
}

/* Альтернативный вариант с рамочкой, тоже красиво, смложно остановиться на одном варианте */
/* nav#menu-chapters a.selected {
  border: 1px solid rgba(205,151,101, 1);
} */
nav#menu-chapters a.selected {
  border: 1px solid #8c6964;
  background-color: #8c6964;
  color: #fdfcf1;
}

.night-mode nav#menu-chapters a.selected {
  border: 1px solid rgba(205,151,101, 1);
  background-color: rgba(205,151,101, 1);
  /* border: 1px solid rgba(97,175,239, 1);
  background-color: rgba(97,175,239, 1); */
  color: #282c34;
}

/* СТИХИ */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

td {
  line-height: 1.6em;
}
td.verse-line {
  min-width: 25px;
  cursor: pointer;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  vertical-align: top;
  text-align: right;
  color: #616562;
  font-size: 13px;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
}

.text-small td.verse-line { padding: 4px 8px 0 0; }
.text-medium td.verse-line { padding: 8px 8px 0 0; }
.text-large td.verse-line { padding: 11px 8px 0 0; }

td.zero-verse {
  text-align: center;
  color: #df4a4a;
  padding-bottom: 10px;
}

th.verse-title {
  display: table-cell;
  border-left: 2px solid transparent;
  padding: 0 7px 15px 7px;
  text-align: left;
}

td.verse-text {
  display: table-cell;
  border-left: 2px solid transparent;
  padding-left: 7px;
}

td.highlighted {
  background: #cd97652e;
  border-left: 2px solid #cd9765;
}

tr:hover td.verse-line {
  position: relative;
  color: transparent;

}

tr:hover td.verse-line:before {
    content: url('data:image/svg+xml;utf8,<svg fill="%23a0ae62" height="16" viewBox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/><path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/></svg>');
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: right;
    top: 0;
    right: 0;
}
.text-small tr:hover td.verse-line:before { padding: 4px 8px 0 0; }
.text-medium tr:hover td.verse-line:before { padding: 8px 8px 0 0; }
.text-large tr:hover td.verse-line:before { padding: 11px 8px 0 0; }

.night-mode td.highlighted {
  color: #d4dded;
  background: #90b99025;
  border-left: 2px solid #90b990c9;
}

/* .night-mode tr:hover td.verse-line {
  color: #828e88;
} */

.img-header-wrap {
  position: relative;
  overflow: hidden;
}

.img-header-wrap .blured {
  position: absolute;
  top: -15px;
  width: 100%;
  margin: 0 -20px;
  background-color: #333;
}
.img-header-wrap .blured img {
  filter: blur(15px);
  width: 100%;
}

.img-header-wrap .content {
  padding: 0 10px;
  margin: 0;
}

.img-header-wrap .content {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 400px;
}

.img-header img {
  display: block;
  max-width: 100%;
  margin: 0;
}

@media (max-width: 1180px) {
  .img-header {
    margin-left: -10px;
    margin-right: -10px;
  }
}

footer dd.tip {
  margin: 0 0 20px 0;
  font-size: 0.7em;
}

#change-locale-area {
  margin: 0 0 10px 0;
}

.key {
  background: linear-gradient(-26.5deg,#928b76,#cbc6b5);
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 0 #696659, inset 0 0 1px 1px #ceccb5, 0 2px 2px 0 rgba(67, 65, 59, 0.3);
  display: inline-block;
  margin: 0 2px;
  padding: 0px 3px;
  color: #ffffff;
  border: 0;
  font-size: 0.8em;
}

.night-mode .key {
  background: linear-gradient(-26.5deg,#566072,#31435b);
  box-shadow: inset 0 -2px 0 0 #283c55, inset 0 0 1px 1px #51687d, 0 2px 2px 0 rgba(3, 6, 9, 0.3);
  color: #dae6ffaa;
}

#bottom-page-bar {
  margin: 30px 0;
  border-top: 1px solid rgb(172, 160, 143);
}

#visits {
  float: right;
  margin: 2px 0;
  font-size: 12px;
}
#visits svg {
  width: 10px;
  height: 10px;
}

.error-not-found {
  margin: 50px 10px;
  text-align: center;
  font-size: 22px;
}

.error-not-found .error-msg {
  font-weight: bold;
}
.error-not-found .propose {
  margin: 20px 0;
}

.tip-hkeys {
  margin: 30px 0 0 0;
  text-align: center;
  font-size: .7em;
}
