#chapter-header {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 0;
}

#text-menu { display: flex; justify-content: flex-end; }
#text-menu > a {
  display: inline-block;
  padding: 2px;
  min-height: 30px;
  min-width: 40px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
#text-menu > a:hover {
  background-color: #80808010;
}
#text-menu > a.active {
  background-color: #8c6964;
  color: #f6f4e4;
  border-color: transparent;
}
.night-mode #text-menu > a.active {
  background-color: #cd9765;
  color: #2f3541;
}

#text-menu #text-small-btn {
  font-size: 1em;
  border: 1px solid #80808040;
  border-radius: 4px 0 0 4px;
}
#text-menu #text-medium-btn {
  font-size: 1.2em;
  border-top: 1px solid #80808040;
  border-bottom: 1px solid #80808040;
}
#text-menu #text-large-btn {
  font-size: 1.4em;
  border: 1px solid #80808040;
  border-radius: 0 4px 4px 0;
}


/* PAGINATION  */
#pagination-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin: 35px 0 10px 0;
}

#pagination-bottom #end-tip {
  padding: 0 20px;
  text-align: center;
}

/* SELECT-BAR  */

#select-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #d7d5ca;
  user-select: none;
  z-index: 10;
  overflow: visible;
}

#select-bar .bar-el {
  display: inline-block;
  max-width: 135px;
  position: relative;
  text-align: center;
  padding: 13px 10px;
  text-decoration: none;
  font-size: 1em;
  background-color: #54524912;
  margin-right: 1px;
}

#select-bar .bar-el:hover {
  background-color: #e3c89e;
  cursor: pointer;
}
#select-bar .bar-el:active {
  background-color: #9f9c9733;
}
#select-bar .bar-el.active {
  color: #d7d5ca;
  background-color: #8c6964;
}

#select-bar .bar-el svg {
  width: 20px;
  height: 20px;
}

#select-bar .icon-title {
  font-size: 1.1em;
}

#select-bar .bar-el-group {
  display: flex;
  position: relative;
}

#select-bar .bar-el-group:hover {
  background-color: #dbc7a8;
}

.night-mode #select-bar .bar-el-group:hover {
  background-color: #1f6db2;
}

.night-mode #select-bar {
  background-color: #3e4759;
}

.night-mode #select-bar .bar-el {
  color: #cdd1db;
  background-color: #ffffff11;
}

.night-mode #select-bar .bar-el:hover {
  background-color: #257bc7;
  color: #fff;
}

.night-mode #select-bar .bar-el:active {
  background-color: #b8c6d533;
}
.night-mode #select-bar .bar-el.active {
  background-color: rgba(205,151,101, 1);
  color: #3e4759;
}

#copy-text-address-btn, #copy-burger-icon {
  display: inline-block;
}

#copy-burger-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

/* контекстное меню копирования */
#copy-burger-menu {
  position: absolute;
  /* 0px - отступ справа, то есть прижимаем вправо */
  /* calc(100% + 3px) - отступ снизу вверх на высотку селект-бара, плюс 3px */
  inset: auto 0px calc(100% + 3px) auto;
  background-color: #fdfcf1;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #b4ada2;
  box-shadow: 0px 0px 8px #282c3471;
  overflow: hidden;
  font-size: 1em;
  text-align: left;
}

/* элементы контекстного меню */
/* все */
#copy-burger-menu > div {
  padding: 8px 5px;
  border-bottom: 1px solid #9f9c9741;
  white-space: nowrap;
  padding: 8px 15px;
}
#copy-burger-menu > div:last-child {
  border-bottom: none !important;
}
/* заголовок */
#copy-burger-menu .menu-title {
  padding: 8px 28px;
  color: #ffffff;
  background-color: #817f7c8c;
  font-weight: bold;
  text-align: center;
  cursor: default;
}
/* активные */
#copy-burger-menu > .active-el {
  color: #000;
}
/* активные: наведённые */
#copy-burger-menu > .active-el:hover {
  background-color: #ebbc8177;
  border-color: transparent;
}
/* иконка активного элемента */
#copy-burger-menu > .active-el .icon-title {
  font-weight: bold;
  display: inline-block;
  min-width: 75px;
  text-align: right;
  padding: 0 10px 0 0;
  color: #00000040;
}

/* ночной режим */
.night-mode #copy-burger-menu {
  background-color: #3e4759;
  color: #cdd1db;
  border: 1px solid #ffffff11;
  box-shadow: 0px 0px 9px #282c34;
}
.night-mode #copy-burger-menu > div {
  border-bottom: 1px solid #ffffff11;
}
/* заголовок */
.night-mode #copy-burger-menu .menu-title {
  padding: 8px 28px;
  color: #a3a7b1;
  background-color: #343b49;
}
/* активные */
.night-mode #copy-burger-menu > .active-el {
  color: #cdd1db;
}
/* активные: наведённые */
.night-mode #copy-burger-menu > .active-el:hover {
  background-color: #257bc7;
  color: white;
}

.night-mode #copy-burger-menu > .active-el .icon-title {
  color: #ffffff40
}

po {
  display: inline-block;
  background-color: #88888833;
  border-radius: 2px;
}
po:hover {
  display: inline-block;
  background-color: #829eba33;
  border-radius: 2px;
  cursor: pointer;
}

dict .desc {
  background: #333;
  color: white;
  padding: 1rem;
  max-width: 600px;
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  white-space: pre-wrap;
}

/* POPUP for Select-bar */

#popup-notif {
  position: fixed;
  padding: 6px 10px;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 250px;
  max-width: 500px;
  border-radius: 4px;
  text-align: center;
  font-size: 0.9em;
  color: #51504c;
  background-color: #d4e2ce;
  opacity: 1;
  -webkit-transition: opacity 500ms linear;
  transition: opacity 500ms linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.night-mode #popup-notif {
  color: #cdd1db;
  background-color: rgba(74,103,133,1);
}

#popup-notif t {
  display: block;
  margin-bottom: 2px;
  font-weight: bold;
}

