#page-content {
  word-wrap: break-word;
}

/* Для pages нужны помельче главы */
#page-content nav#menu-chapters a {
  font-size: 0.9em;
  font-family: inherit;
}

#page-content h1#subject {
  font-weight: 500;
}

#page-content .subject-desc {
  font-size: 0.9em;
}

#page-content h1.title {
  margin-top: 30px;
  font-size: 36px;
  text-align: center;
}

#page-content #title-sub {
  text-align: center;
  font-size: 16px;
}

#page-content p {
  text-align: justify;
}

#page-content .pages {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#page-content #page-body {
  margin: 20px 0;
}

#page-references-text {
  font-size: 0.7em;
}

#page-references-title {
  margin-bottom: 20px;
}

#page-references ol,
#page-references ul {
  line-height: 1rem;
}


/* TEXT */

/* ПРИМЕНЯЕТСЯ К ТЕКСТАМ ИЗ СТАТЕЙ */
.looks-like-page hr {
  display: block;
  margin: 30px 0;
  border: 0;
  border-bottom: 1px dashed #aca08f;
  height: 1px;
}

.looks-like-page ul,
.looks-like-page ol {
  padding: 0;
  padding-inline-start: 32px;
  line-height: 1.5rem;
}

.looks-like-page li > ul,
.looks-like-page li > ol {
  margin-top: 10px;
}

.looks-like-page li+li {
  margin: 12px 0 0;
}

.looks-like-page h1,
.looks-like-page h2 {
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
}

.looks-like-page h2 { border-bottom: 1px solid #999; padding-bottom: 3px; }

.looks-like-page h1 { font-weight: 200; }
.looks-like-page h2,
.looks-like-page h3,
.looks-like-page h4 {
  font-weight: 500;
}

.looks-like-page h1 {
  font-size: 1.8em;
  margin-top: 30px;
}
.looks-like-page h2 {
  font-size: 1.5em;
  margin-top: 2em;
}
.looks-like-page h3 {
  font-size: 1.2em;
  margin-top: 1.8em;
}
.looks-like-page h4 {
  font-size: 1.0em;
  margin-top: 1.5em;
}

.looks-like-page h2+p,
.looks-like-page h3+p,
.looks-like-page h4+p {
  margin-top: 0.8em;
}

.looks-like-page p+p {
  margin-top: 1.4em;
  display: block;
}

.looks-like-page blockquote > p { margin: 0 }

.looks-like-page code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.looks-like-page pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.looks-like-page pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.looks-like-page img {
  max-width: 100%;
  height: auto;
}

.looks-like-page blockquote {
  border-left: 2px solid #d5cdb7;
  background-color: #d5cdb724;
  font-family: Arial,Helvetica,sans-serif;
  font-style: italic;
  margin: 20px 0;
  padding: 5px 10px;
}

.source-link {
  margin: -20px 0 25px 0;
  font-size: .9em;
  padding: 4px 12px;
}
/* КОНЕЦ // ПРИМЕНЯЕТСЯ К ТЕКСТАМ ИЗ СТАТЕЙ */

.night-mode #page-content .subject {
  color: #b2bbc1;
}

/* MENU */
#page-content .level {
  margin-left: 15px;
}

#page-content .menu-subject.depth-0 {
  font-weight: 600;
  margin-top: 0.8em;
}
#page-content .menu-subject {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 0.9em;
  margin-bottom: 0.5em;
}

.menu-unit {
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  padding: 0;
  margin: 1px 2px;
}

#page-content .menu-tree .menu-not-link {
  padding: 5px 10px;
  color: #AAAAAA;
  background-color: #80808015;
}
#page-content .menu-tree .menu-link a {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  height: 100%;
  background-color: #80866715;
  cursor: default;
}
#page-content .menu-tree .menu-link a:hover {
  background-color: #896d5520;
  -webkit-transition: background-color 80ms ease;
  -ms-transition: background-color 80ms ease;
  transition: background-color 80ms ease;
}
#page-content .menu-tree .menu-link.selected a,
#page-content .menu-tree .menu-link.selected a:hover {
  background-color: #8c6964;
  color: #fdfcf1;
}
.night-mode #page-content .menu-tree .menu-link.selected a,
.night-mode #page-content .menu-tree .menu-link.selected a:hover {
  background-color: rgba(205,151,101, 1);
  color: #282c34;
}


.night-mode #page-content .menu-tree a {
  background-color: #61afef10;
}

.night-mode #page-content .menu-tree a:hover {
  background-color: #61afef20;
}

.menu-tree {
  padding: 15px 0 20px 0;
}

.menu-tree.hidden-children .menu-link,
.menu-tree.hidden-children .menu-subject {
  display: none;
}
.menu-tree.hidden-children .visible {
  display: inline-block;
}

.night-mode #page-content blockquote {
  border-left: 2px solid #90b990;
  background-color: #90b99011;
}
.night-mode #page-content #title-sub {
  color: #777;
}

.filter {
  font-size: 24px;
  margin: 0 0 10px 0;
}

/* article menu */

#article-menu {
  margin: 10px auto;
  min-width: 200px;
  max-width: 900px;
  padding: 10px 15px;
  border: 1px solid #7777772E;
  border-radius: 3px;
  font-size: 1.3em;
  background-color: #90888111;
}

#article-menu .menu-name {
  text-align: center;
}

#article-menu .nav-h2,
#article-menu .nav-h3,
#article-menu .nav-h4 {
  margin: 10px 0;
}

#article-menu .nav-h2 { margin-left: 0; }
#article-menu .nav-h3 { margin-left: 20px; font-size: 0.8em; }
#article-menu .nav-h4 { margin-left: 40px; font-size: 0.6em; }

#article-menu .short { display: inline-block; margin-right: 10px; }

/* маркер перед старшими пунктами меню */
/* #article-menu .nav-h2::before {
  content: "・";
  margin-left: 0px;
  margin-right: 0px;
} */

/* подсветка параграфа, к которому перешли по нажатию на якорь сноску */
#page-references-text p:target {
  color: #000000;
  background-color: #cd97652e;
  border: 1px solid #cd97655e;
  border-radius: 3px;
  padding: 3px 8px;
}
.night-mode #page-references-text p:target {
  color: #EEEEEE;
  background-color: #90b9901c;
  border: 1px solid #90b9905e;
}

.foot-ref a,
a.foot-note {
  text-decoration: none;
}

/* сноски не нужно выделять и копировать */
.foot-ref,
a.foot-note {
  user-select: none;
}
