#page-content {
  word-wrap: break-word;
}

/* Для pages нужны помельче главы */
#page-content nav#menu-chapters a {
  font-size: 0.7em;
  font-family: inherit;
}

#page-content h1#subject {
  font-weight: 500;
}

#page-content .subject-desc {
  font-size: 0.9em;
}

#page-content h1.title {
  margin-top: 30px;
  font-size: 36px;
  text-align: center;
}

#page-content #title-sub {
  text-align: center;
}

#page-content .pages {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#page-content #page-body {
  margin: 20px 0;
}

/* TEXT */

/* ПРИМЕНЯЕТСЯ К ТЕКСТАМ ИЗ СТАТЕЙ */
.looks-like-page hr {
  display: block;
  margin: 30px 0;
  border: 0;
  border-bottom: 1px dashed #aca08f;
  height: 1px;
}

.looks-like-page mark {
  background-color: #FAF594;
}

.looks-like-page ul,
.looks-like-page ol {
  padding: 0;
  padding-inline-start: 32px;
  line-height: 1.5rem;
}

.looks-like-page li > ul,
.looks-like-page li > ol {
  margin-top: 10px;
}

.looks-like-page li+li {
  margin: 12px 0 0;
}

.looks-like-page h1,
.looks-like-page h2 {
  font-family: 'Linux Libertine','Georgia','Times','Source Serif Pro',serif;
}

.looks-like-page h2 { border-bottom: 1px solid #999; padding-bottom: 3px; }

.looks-like-page h1 { font-weight: 200; }
.looks-like-page h2,
.looks-like-page h3,
.looks-like-page h4 {
  font-weight: 500;
}

.looks-like-page h1 {
  font-size: 1.8em;
  margin-top: 30px;
}
.looks-like-page h2 {
  font-size: 1.5em;
  margin-top: 2em;
}
.looks-like-page h3 {
  font-size: 1.2em;
  margin-top: 1.8em;
}
.looks-like-page h4 {
  font-size: 1.0em;
  margin-top: 1.5em;
}

.looks-like-page h2+p,
.looks-like-page h3+p,
.looks-like-page h4+p {
  margin-top: 0.8em;
}

.looks-like-page p+p {
  margin-top: 1.4em;
  display: block;
}

.looks-like-page blockquote > p { margin: 0 }

.looks-like-page code {
  background-color: rgba(#616161, 0.1);
  color: #616161;
}

.looks-like-page pre {
  background: #0D0D0D;
  color: #FFF;
  font-family: 'JetBrainsMono', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.looks-like-page pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.looks-like-page img {
  max-width: 100%;
  height: auto;
}

.looks-like-page blockquote {
  border-left: 2px solid #d5cdb7;
  background-color: #d5cdb724;
  font-family: Arial,Helvetica,sans-serif;
  font-style: italic;
  margin: 20px 0;
  padding: 5px 10px;
}
/* КОНЕЦ // ПРИМЕНЯЕТСЯ К ТЕКСТАМ ИЗ СТАТЕЙ */

.night-mode #page-content .subject {
  color: #b2bbc1;
}

/* Меню скрытое с книгами, открывается по клику на название статьи */

.page-menu.menu-books {
  top: 130px;
}

/* MENU */
#page-content .level {
  margin-left: 15px;
}

#page-content .menu-subject.depth-0 {
  font-weight: 500;
}
#page-content .menu-subject {
  font-size: 1.1em;
}

#page-content .menu-tree a {
  display: inline-block;
  margin: 0 12px 5px 0;
  border-bottom: 1px solid;
  text-decoration: none;
  white-space: nowrap;
}
#page-content .menu-tree a:hover {
  border-bottom: 1px solid;
}

#page-content .depth-0 a {
  color:#3fa353;
}
#page-content .depth-0 a:hover {
  color:#367e45;
}

.menu-tree {
  padding: 15px 0 0 0;
}

.night-mode #page-content blockquote {
  border-left: 2px solid #90b990;
  background-color: #90b99011;
}
.night-mode #page-content #title-sub {
  color: #777;
}



