#quotes-content .level .level,
#page-content .level {
  margin-left: 15px;
}

#quotes-content h1#subject,
#page-content h1#subject {
  font-weight: 500;
}

#quotes-content .subject-desc,
#page-content .subject-desc {
  font-size: 0.9em;
}

#quotes-content h1,
#page-content h1 {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#quotes-content .items h2,
#page-content .items h2 {
  font-size: 1.8em;
}

#quotes-content .items .items h2,
#page-content .items .items h2 {
  font-size: 1.3em;
}

#quotes-content .pages,
#page-content .pages {
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#quotes-content #quotes,
#page-content #quotes {
  margin: 20px 0;
  font-size: 0.8em;
  color: transparent;
}

#quotes-content #page-body,
#page-content #page-body {
  margin: 20px 0;
}

.night-mode #quotes-content .subject,
.night-mode #page-content .subject {
  color: #b2bbc1;
}

#quotes-content .pages a,
#page-content .pages a {
  display: inline-block;
  margin: 0 12px 5px 0;
  border-bottom: 1px solid;
  text-decoration: none;
  white-space: nowrap;
}
#quotes-content .pages a:hover,
#page-content .pages a:hover {
  border-bottom: 1px solid;
}

#page-content .depth-0 a {
  color:#3fa353;
}
#page-content .depth-0 a:hover {
  color:#367e45;
}

#page-references {
  margin-top: 25px;
}

.menu-tree {
  border-top: 1px solid;
  padding: 25px 0 0 0;
}

#quotes > a {
  display: inline-block;
  padding: 4px 7px;
  margin-right: 4px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #3fa353;
  color: white;
  text-decoration: none;
  font-size: 1em;
}

#quotes > a:hover {
  background-color:#32c450;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#quotes #quotes-list-title {
  margin: 0 0 10px 0;
  font-size:0.8em;
  color: #575757;
}
.night-mode #quotes #quotes-list-title {
  color: #90b990;
}

blockquote {
  border-left: 2px solid #d5cdb7;
  background-color: #d5cdb724;
  font-family: Arial,Helvetica,sans-serif;
  font-style: italic;
  margin: 20px 0;
  padding: 5px 10px;
}

.night-mode blockquote {
  border-left: 2px solid #90b990;
  background-color: #90b99011;
}

/* у админа в добавлении страницы */
form #quotes-content {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

mark {
  background-color: rgba(255, 243, 73, 0.5);
}

