
#search-input {
  width: 100%;
}

.search-options {
  display: flex;
  gap: 10px;
}

.search-options > .search-param {
  flex-grow: 1;
}

#search-input-area {
  position: relative;
}

#search-input-area .search-icon {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
  background: none;
  border: none;
}
