
#search-input {
  width: 100%;
}

.search-options {
  display: flex;
  gap: 10px;
}

#search-input-area {
  position: relative;
}

#search-input-area a {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}
